@import url('https://fonts.googleapis.com/css?family=Bad+Script');

body {
  margin: 200px auto;
  font-family: 'Bad Script', cursive;
  text-align: center;
}

/* Centers images */


/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */
