@import url('https://fonts.googleapis.com/css?family=Bad+Script');

body {
  margin: 300px auto;
  background-image: url(images/skip_002.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Bad Script', cursive;
  text-align: center;
  color: white;
}


h4 {
  /*color: white;*/
  hover:
}

a {
  color: inherit;
  text-decoration:none;
 }

 a:hover {
   background-color: DimGrey;
 }

/* Centers images */


/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */
